function Firework.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push this 0
push this 1
push constant 5
push constant 0
call Particle.new 4
pop this 2
push this 0
push this 1
push constant 5
push constant 5
neg
call Particle.new 4
pop this 3
push this 0
push this 1
push constant 0
push constant 5
neg
call Particle.new 4
pop this 4
push this 0
push this 1
push constant 5
neg
push constant 5
neg
call Particle.new 4
pop this 5
push this 0
push this 1
push constant 5
neg
push constant 0
call Particle.new 4
pop this 6
push this 0
push this 1
push constant 5
neg
push constant 5
call Particle.new 4
pop this 7
push this 0
push this 1
push constant 0
push constant 5
call Particle.new 4
pop this 8
push this 0
push this 1
push constant 5
push constant 5
call Particle.new 4
pop this 9
push pointer 0
return
function Firework.displayAll 0
push argument 0
pop pointer 0
push this 2
call Particle.draw 1
pop temp 0
push this 3
call Particle.draw 1
pop temp 0
push this 4
call Particle.draw 1
pop temp 0
push this 5
call Particle.draw 1
pop temp 0
push this 6
call Particle.draw 1
pop temp 0
push this 7
call Particle.draw 1
pop temp 0
push this 8
call Particle.draw 1
pop temp 0
push this 9
call Particle.draw 1
pop temp 0
push constant 0
return
function Firework.moveAll 0
push argument 0
pop pointer 0
push this 2
call Particle.move 1
pop temp 0
push this 3
call Particle.move 1
pop temp 0
push this 4
call Particle.move 1
pop temp 0
push this 5
call Particle.move 1
pop temp 0
push this 6
call Particle.move 1
pop temp 0
push this 7
call Particle.move 1
pop temp 0
push this 8
call Particle.move 1
pop temp 0
push this 9
call Particle.move 1
pop temp 0
push constant 0
return
function Firework.memory 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
