function Game.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 50
push constant 50
call Firework.new 2
pop this 0
push constant 250
push constant 80
call Firework.new 2
pop this 1
push constant 470
push constant 40
call Firework.new 2
pop this 2
push constant 100
push constant 150
call Firework.new 2
pop this 3
push constant 370
push constant 170
call Firework.new 2
pop this 4
call Ball.new 0
pop this 5
push this 5
call Ball.getX 1
pop this 6
push this 5
call Ball.getY 1
pop this 7
push pointer 0
return
function Game.run 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push this 0
call Firework.displayAll 1
pop temp 0
push this 1
call Firework.displayAll 1
pop temp 0
push this 2
call Firework.displayAll 1
pop temp 0
push this 3
call Firework.displayAll 1
pop temp 0
push this 4
call Firework.displayAll 1
pop temp 0
push this 0
call Firework.moveAll 1
pop temp 0
push this 1
call Firework.moveAll 1
pop temp 0
push this 2
call Firework.moveAll 1
pop temp 0
push this 3
call Firework.moveAll 1
pop temp 0
push this 4
call Firework.moveAll 1
pop temp 0
push this 5
call Ball.display 1
pop temp 0
push this 5
call Ball.move 1
pop temp 0
push local 1
push constant 69
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.memory 0
push argument 0
pop pointer 0
push this 0
call Firework.memory 1
pop temp 0
push this 1
call Firework.memory 1
pop temp 0
push this 2
call Firework.memory 1
pop temp 0
push this 5
call Ball.memory 1
pop temp 0
push constant 0
return
