function Main.main 6
push constant 50
push constant 50
call Firework.new 2
pop local 0
push constant 250
push constant 80
call Firework.new 2
pop local 1
push constant 470
push constant 40
call Firework.new 2
pop local 2
push local 0
call Firework.displayAll 1
pop temp 0
push local 1
call Firework.displayAll 1
pop temp 0
push local 2
call Firework.displayAll 1
pop temp 0
push local 0
call Firework.moveAll 1
pop temp 0
push local 1
call Firework.moveAll 1
pop temp 0
push local 2
call Firework.moveAll 1
pop temp 0
call Ball.new 0
pop local 3
push local 3
call Ball.getX 1
pop local 4
push local 3
call Ball.getY 1
pop local 5
push local 3
call Ball.display 1
pop temp 0
label WHILE_EXP0
push local 4
push constant 0
gt
push local 4
and
push constant 512
lt
push local 5
and
push constant 0
gt
push local 5
and
push constant 256
lt
not
not
if-goto WHILE_END0
push constant 4
call String.new 1
push constant 109
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 3
call Ball.move 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
